<footer class="footer">
    <div class="extreme-container">
        <div class="row">
            {{!-- Newsletter --}}
            {{#if @labs.members}}
            <div class="col s12">
                <div class="f-subscribe u-flexCenter u-block-before-md">
                    <div class="f-subscribe-left u-marginBottom20">
                        <h4 class="u-marginBottom10 u-textColorWhite u-fontWeightMedium">{{t "Sign Up To The Newsletter"}}</h4>
                        <p>{{t "Stay up to date! Get all the latest & greatest posts delivered straight to your inbox"}}</p>
                    </div>

                    {{!-- Form --}}
                    <div class="f-subscribe-right">
                        <form class="f-form" data-members-form="subscribe">
                            <div class="u-flex">
                                <input
                                    class="f-form-input u-block subscribe-email"
                                    data-members-email
                                    placeholder="{{t "youremail@example.com"}}"
                                    aria-label="{{t "youremail@example.com"}}"
                                    aria-describedby="f-form-subscribe-btn"
                                    autocomplete="off"
                                    required
                                />

                                <button id="f-form-subscribe-btn" class="button button--filled button--large" type="submit">
                                    <span class="button-text">{{t "Subscribe"}}</span>
                                    {{> "icons/loader"}}
                                </button>
                            </div>
                            <div class="message-success u-paddingTop15 u-hide"><strong>{{t "Great!"}}</strong> {{t "Check your inbox and click the link to confirm your subscription"}}</div>
                            <div class="message-error u-paddingTop15 u-hide">{{t "Please enter a valid email address!"}}</div>
                        </form>
                    </div>
                </div>
            </div>

            {{!-- hr divider --}}
            <div class="col s12"><hr class="footer-divider"></div>
            {{/if}}

            {{!-- Footer Menu --}}
            {{#if @site.secondary_navigation}}
            <div class="col s12">
                <nav class="footer-menu u-marginBottom30">
                    {{navigation type="secondary"}}
                </nav>
            </div>
            {{/if}}

            {{!-- Copy Right --}}
            <div class="col s12 m7 l8">
                <div class="u-fontSizeSmaller u-marginBottom20">
                    &copy; {{date format="YYYY"}}, Simple Techies
                    . All Rights Reserved
                    
                </div>
            </div>

            {{!-- Social Media --}}
            <div class="col s12 m5 l4">
                
            </div>
        </div>
    </div>
</footer>