<header class="header u-sizeFullWidth u-flexCenter">
    <div class="header-wrap u-relative u-flexCenter u-flex--1">
        {{!-- Page Logo and Name --}}
        <a class="header-logo u-inlineBlock u-flex0" href="{{@site.url}}">
            {{#if @site.logo}}
                <img src="{{img_url @site.logo size="s"}}" alt="{{@site.title}}"/>
            {{else}}
                <span class="u-fontSize26 u-fontWeightBold u-lineHeight1">{{@site.title}}</span>
            {{/if}}
        </a>

        {{!-- Navigation --}}
        <nav class="mainMenu u-flex u-flex1 u-paddingLeft20 u-flexCenter u-hide-before-lg">
            {{#if @site.navigation}}{{navigation}}{{/if}}
        </nav>

        <ul class="header-left u-flex0 u-flex u-flexEnd u-unstyled">
            {{!-- Social Media --}}
            

            {{!-- Active Mapache Dark --}}
            <li><div class="js-dark-mode hla header-dark-mode">
                <svg class="icon icon--m icon--moon top2"><use xlink:href="#icon-moon"></use></svg>
                <svg class="icon icon--m icon--sunny top2 u-hide"><use xlink:href="#icon-sunny"></use></svg>
            </div></li>

            {{!-- Member Login --}}
            {{#if @labs.members}}
            <li class="header-dropdown-menu mp-member-login u-hide-before-lg dropdown u-relative">
                <div class="hla u-relative"><svg class="icon icon--m top2"><use xlink:href="#icon-user"></use></svg></div>

                <div class="drop-content account-menu u-absolute">
                    {{#if @member}}
                        <a href="/account/" class="login drop-border u-flexCenter u-flexContentBetween">
                            <span class="u-fontSizeBase">{{t "Account"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                        <a href="#signout" class="login u-flexCenter u-flexContentBetween" data-members-signout>
                            <span class="u-fontSizeBase">{{t "Log out"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                    {{else}}
                        <a href="/signin/" class="login drop-border u-flexCenter u-flexContentBetween">
                            <span class="u-fontSizeBase">{{t "Log in"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                        <a href="/signup/" class="login u-flexCenter u-flexContentBetween">
                            <span class="u-fontSizeBase">{{t "Sign up"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                    {{/if}}
                </div>
            </li>
            {{/if}}

            {{!-- Toggle Search --}}
            <li class="js-search-open search-toggle u-relative u-hide"><div class="hla"><svg class="icon icon--m top2"><use xlink:href="#icon-search"></use></svg></div></li>
            {{!-- Toggle Menu Mobile --}}
            <li class="u-hide-after-lg" style="margin-right:-10px"><div class="hla menu-burger js-menu-toggle u-relative"><span></span><span></span><span></span></div></li>
        </ul>
    </div>
</header>

{{!-- Sidenav Mobile - partilas/sidenav.hbs --}}
{{>"sidenav"}}