<!DOCTYPE html>
<html amp lang="{{@site.lang}}">
<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{amp_ghost_head}}

    {{!-- Google Fonst --}}
    <link href="https://fonts.googleapis.com/css?family=Domine|Rubik:400,500,700&display=swap" rel="stylesheet">

    {{!-- Only For dev --}}
    {{!-- <link rel="stylesheet" type="text/css" href="{{asset "styles/amp.css"}}"/>
    <style>.u-bgColor{background-color:#161D25}</style> --}}

    {{!-- Style Custom --}}
    <style amp-custom>.u-bgColor{background-color:#161D25}{{> "amp/amp-styles"}}</style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>

    {{amp_components}}
</head>
<body class="amp-template">
    {{!-- Header --}}
    {{> "amp/amp-header"}}

    <main class="main">
        {{!-- Content --}}
        {{> "amp/amp-body"}}

        {{!-- Related --}}
        {{> "amp/amp-related"}}
    </main>

    {{!-- Sidenav --}}
    {{> "amp/amp-sidebar"}}

    {{!-- Footer copyright --}}
    <footer class="footer">
    </footer>
</body>
</html>