<!DOCTYPE html>
<html lang="{{@site.lang}}" data-theme="light">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- Fonts => Roboto && Merriweather --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap" rel="stylesheet">
    {{!-- Styles --}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

    <script>
        if (typeof(Storage) !== 'undefined') {
            var selectTheme = localStorage.getItem('selected-theme');
            if (selectTheme === 'dark') {
                document.documentElement.setAttribute('data-theme', 'dark')
            } else if (selectTheme === 'light') {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }
    </script>
</head>
<body class="{{{block "mapache_class_body"}}}">

    <div class="site-wrapper u-flexColumnTop">
        {{!-- Header --}}
        {{> "header"}}

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        <main class="site-main {{{block "mapache_class_site_main"}}}">{{{body}}}</main>

        {{!-- Instagram - partials/widget/widget-instagram.hbs --}}
        {{#is "post"}}{{> "widget/widget-instagram"}}{{/is}}

        {{!-- Footer Content --}}
        {{>"footer"}}
    </div>

    {{!-- Search box --}}
    {{>"search"}}

    {{!-- Loandig Bar --}}
    <div class="loadingBar"></div>

    {{!-- Return home top page scroll --}}
    <div class="back-to-top js-back-to-top u-hide-before-lg u-flexCenter justify-content-center u-fontSize40">
        <svg class="icon icon--arrow-up"><use xlink:href="#icon-arrow-round"></use></svg>
    </div>

    {{!-- Notifications for members --}}
    {{#if @labs.members}} {{> "notifications"}} {{/if}}

    {{!-- Site URL --}}
    <script>
        var siteUrl = '{{@site.url}}';
        var siteSearch = '{{asset "scripts/search.js"}}';
        var sitePrismJs = '{{asset "scripts/prismjs.js"}}';
        var sitePrismJscomponents = '/assets/scripts/components/';
    </script>

    {{!-- Icons --}}
    {{> "icons/icons-symbol-defs"}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

    {{!-- The main JavaScript --}}
    <script src="{{asset "scripts/main.js"}}"></script>

    {{#if pagination.pages}}<script src="{{asset "scripts/pagination.js"}}" async defer></script>{{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. --}}
    {{{block "scripts"}}}
</body>
</html>